/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#home {
 	background-image: url("../static/background.jpg");
 	background-color: #222;
 	background-attachment: fixed;
 	background-repeat: no-repeat;
 	-webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  padding: 0;
  height: 100vh;
}

.home-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

.note {
  font-size: 12px;
  font-weight: bold;
  color: grey;
}

.navibar {
  margin: 0;
  padding: 0;
}
.navibar ul {
  margin: 0px 40px;
}
.navibar ul li {
  float: right;
  list-style-type: none;
}
.navibar ul li .navbutton {
  background: rgba(0, 0, 0, 0);
  color: white;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-left: 30px;

  text-decoration: none;
}
.navibar .navbutton2 {
  background: rgba(0, 0, 0, 0);
  color: white;
  display: inline-block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-left: 30px;

  text-decoration: none;
}
.navibar ul li .navbutton:hover {
  background: #a03894;
}
.navdonate {
  background: #a03894;
  color: white;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 20px;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin-left: 30px;
  text-decoration: none;
  border: none;
}
.navdonate:hover {
  background: white;
  color: #a03894;
  text-decoration: none;
}
.donate-btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #a03894;
  padding: 10px 20px;
  text-decoration: none;
}

.donate-btn:hover {
  background: #ffffff;
  color: #a03894;
  border: solid;
  border-color: #a03894;
  text-decoration: none;
}
.donate-form {
  padding-top: 12px;
  background-color: white;
  width: 340px;
}
.logo {
  width: inherit;
  height: auto;
  padding: 12px 12px 12px 12px;
}
.donate-form a {
  padding: 8px 8px 8px 20px;
  text-decoration: none;
  color: black;
  display: block;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
  font-size: 20px;
}
.donate-form a:hover, .offcanvas a:focus{
    font-weight: 800;
}
.donate-subform{
  margin-top: 10px;
  padding-left: 20px;
}
.money {
  height: 50px;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 200;
  margin-bottom: 10px;
  width: 90px;
}
.main-text {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 1.2em;
  font-size: 36px;
  font-weight: 100;
  padding-left: 6px;
  padding-right: 6px;
}
.display-text {
  text-align: center;
  line-height: 1.2em;
  font-size: 36px;
  font-weight: 100;
  padding-left: 6px;
  padding-right: 6px;
}

.big-title{
  font-size: 80px;
  font-weight: 100;
  text-align: center;
}
span.separator {
    border-top: 1px solid #333;
    text-align: center;
    width: 90%;
    height: 1px;
    display: block;
    margin-bottom: 24px;
}
footer .logo {
  height: 60px;
  width: auto;
  padding-bottom: 12px;
}
#whoWeAre {
  padding-top: 20px;
  padding-bottom: 20px;
}
.paragraph {
  text-align: center;
  font: 'Source Sans Pro', sans-serif;
  line-height: 1.1 em;
  font-size: 24px;
  font-weight: 200;
  margin-top: 1px;
}
#upcoming {
  background-color: #333648;
  padding: 40px 40px 40px 40px;
}
#callToAction {
  background-color: #a03894;
  color: white;
  padding: 40px 40px 40px 40px;
  margin-bottom: 20px;
}
.sub-button {
  background-color: white;
  color: #a03894;
  padding: 10px 20px;
  padding-top: 13px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  text-decoration: none;

}
.site-info ul li{
  list-style-type: none;
}
.subscribe-now h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  text-decoration: none;

}
/* =========================================
   SLIDER + CAROUSEL + OTHER STUFF
   =========================================*/

section {
  /*padding-top: 100px;
  padding-bottom: 100px;*/
}

.quote {
  color: rgba(0,0,0,.1);
  text-align: center;
  margin-bottom: 30px;
}

.goal-list {
  font-size: 20px;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 100;
  line-height: 2;
}

   /*-------------------------------*/
   /*    Carousel Fade Transition   */
   /*-------------------------------*/

#fade-quote-carousel.carousel {
  padding-bottom: 60px;
}
#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity;
}
#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px;
}
#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #a03894;
  border: none;
}
#fade-quote-carousel blockquote {
  text-align: center;
  border: none;
}
#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px;
}
.testimonial {
  text-align: right;
}
.subscribe-now {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 100;
}
.form-square {
  border-radius: 0;
  margin-bottom: 15px;
}
.contact-form {
  margin-right: -40%;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
